* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/*
*
*
* NAV TOP
*
*
*/

body {
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    margin: 19px 0;
    padding: 0 16px;
    border-bottom: 1px solid #e5e5e5;
}

.nav-top {
    margin: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.svg-a {
    width: 24px;
}

.div-search {
    display: flex;
}

.magnifying-glass-div {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 20px;
}

.span-search {
    position: absolute;
    left: 31px;
    z-index: 2;
}

.span-search-a {
    top: 13px;
    visibility: hidden;
}

.span-search-b {
    top: 57px;
    visibility: hidden;
}

.span-search-c {
    top: 88px;
    visibility: hidden;
}

.span-search-d {
    top: 119px;
    visibility: hidden;
}

.span-search-e {
    top: 150px;
    visibility: hidden;
}

.span-search-f {
    top: 181px;
    visibility: hidden;
}

.span-search-g {
    top: 212px;
    visibility: hidden;
}

.span-search-h {
    top: 243px;
    visibility: hidden;
}

.span-search-i {
    top: 274px;
    visibility: hidden;
}

.svg-search-options {
    fill: #a0a0a0;
    width: 20px;
    display: block;
}

.image-outline {
    outline: none;
    margin: auto 0;
}

.google-logo {
    margin: 4px 0 10px 0;
    width: 92px;
}

.form-search {
    margin-right: auto;
}

.search-input {
    position: relative;
    margin: 1px 44px 10px 24px;
    padding: 0 48px 1px 20px;
    width: 692px;
    height: 46px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    font-size: 16px;
}

.search-input:hover {
    box-shadow: 0 1px 3px 2px #e5e5e5;
    margin: 0 43px 9px 23px;
    padding: 1px 49px 2px 21px;
    width: 694px;
    height: 48px;
}

.search-input:focus {
    margin: 0px 43px 9px -4px;
    padding: 1px 49px 2px 48px;
    width: 721px;
    height: 48px;
    box-shadow: 0 1px 3px 2px #e5e5e5;
    border-radius: 25px 25px 0 0;
    outline: none;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    left: 132px;
    top: 65px;
    padding: 4px 0 0;
    width: 721px;
    border: 1px solid #e5e5e5;
    border-top: transparent;
    border-radius: 0 0 25px 25px;
    background: white;
    box-shadow: 0 3px 3px 2px #e5e5e5;
    z-index: 1;
}

.dropdown-content::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    width: 692px;
    border-top: 1px solid #e5e5e5;
    background: red;
    z-index: 3;
}

.link {
    padding: 1px 48px;
    background-clip: padding-box;
    height: 31px;
    text-decoration: none;
    font-size: 16px;
    line-height: 31px;
    color: black;
    cursor: default;
}

.link:hover {
    background: #f0f0f0;
}

strong {
    font-size: inherit;
}

.report {
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
    color: #949494;
    align-self: flex-end;
    margin: 5px 21px 3px 0;
    letter-spacing: -0.15px;
}

.report:hover {
    text-decoration: underline;
}

.search-button {
    position: relative;
    top: 12px;
    right: 93px;
    background: transparent;
    border-style: none;
    cursor: pointer;
}

.svg-google-search {
    fill: #4285F4;
}

.nav-top-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.svg-google-apps {
    box-sizing: unset;
    border-radius: 25px;
    margin: 0 16px;
    padding: 8px;
    fill: #949494;
}

.svg-google-apps:hover {
    background: #f3f3f3;
    cursor: pointer;
}

.sign-in {
    text-decoration: none;
    outline: none;
    padding: 10px 25px;
    background: rgb(66, 133, 244);
    border-radius: 5px;
    color: white;
    max-height: 36px;
    min-width: 92.8px;
}

.sign-in:hover {
    background: rgba(66, 133, 244, 0.8);
    box-shadow: 0 1px 3px 0 rgba(66, 133, 244, 0.6);
}

/*
*
*
* NAV BOTTOM
*
*
*/

.nav-bottom {
    height: 46px;
    margin: 0 auto 0 152px;
}

.inside-bottom {
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 100%;
    margin: auto 0;
}

.bottom-link {
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    color: #707070;
    font-size: 13px;
    text-decoration: none;
    border-width: 0;
    cursor: pointer;
}

p.bottom-link {
    padding: 0 8px;
}

.svg-b {
    margin: 2px 5px 0 0;
    width: 16px;
    fill: #707070;
}

.all {
    color: #4285F4;
    margin-top: 3px;
    margin-left: 2px;
    padding-left: 10px;
    border-bottom: 3px solid #4285F4;
}

.svg-more {
    margin-right: 0px;
}

.settings {
    margin-left: 95px;
}

.settings:active {
    color: #4285F4;
}

.tools {
    outline: none;
    font-size: 13px;
    margin-left: 8px;
    border-width: 0;
    background: white;
    color: #707070;
    cursor: pointer;
}

.tools:active {
    color: #4285F4;
}

.maps:active, .maps:active .span-bottom .svg-maps {
    color: #4285F4;
    fill: #4285F4;
}

.news:active, .news:active .span-bottom .svg-news {
    color: #4285F4;
    fill: #4285F4;
}

.videos:active, .videos:active .span-bottom .svg-videos {
    color: #4285F4;
    fill: #4285F4;
}

.images:active, .images:active .span-bottom .svg-images {
    color: #4285F4;
    fill: #4285F4;
}

.more:active, .more:active .span-bottom .svg-more {
    color: #4285F4;
    fill: #4285F4;
}

/*
*
*
* MAIN
*
*
*/

main {
    width: 692px;
    margin-left: 180px;
}

.mn-dwn-arw {
    border-color: #70757a transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
}

div.full-width {
    position: relative;
    float: left;
    width: 100%;
}

@media screen and (min-width: 751px), screen and (min-device-width:751) {
    div.video {
        position: relative;
        float: left;
        padding: 5px;
        width: 30%;
    }
    iframe {
        width: 100%;
    }
}