* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

/*
*
*
* NAV TOP
*
*
*/

body {
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    margin: 19px 0 0;
    padding: 0 16px;
    border-bottom: 1px solid #e5e5e5;
}

.nav-top {
    margin: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.svg-a {
    width: 24px;
}

.div-search {
    display: flex;
}

.magnifying-glass-div {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 20px;
}

.span-search {
    position: absolute;
    left: 31px;
    z-index: 2;
}

.span-search-a {
    top: 13px;
    visibility: hidden;
}

.span-search-b {
    top: 57px;
    visibility: hidden;
}

.span-search-c {
    top: 88px;
    visibility: hidden;
}

.span-search-d {
    top: 119px;
    visibility: hidden;
}

.span-search-e {
    top: 150px;
    visibility: hidden;
}

.span-search-f {
    top: 181px;
    visibility: hidden;
}

.span-search-g {
    top: 212px;
    visibility: hidden;
}

.span-search-h {
    top: 243px;
    visibility: hidden;
}

.span-search-i {
    top: 274px;
    visibility: hidden;
}

.svg-search-options {
    fill: #a0a0a0;
    width: 20px;
    display: block;
}

.image-outline {
    outline: none;
    margin: auto 0;
}

.google-logo {
    margin: 4px 0 10px 0;
    width: 92px;
}

.form-search {
    margin-right: auto;
}

.search-input {
    position: relative;
    margin: 1px 44px 10px 24px;
    padding: 0 48px 1px 20px;
    width: 692px;
    height: 46px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    font-size: 16px;
}

.search-input:hover {
    box-shadow: 0 1px 3px 2px #e5e5e5;
    margin: 0 43px 9px 23px;
    padding: 1px 49px 2px 21px;
    width: 694px;
    height: 48px;
}

.search-input:focus {
    margin: 0px 43px 9px -4px;
    padding: 1px 49px 2px 48px;
    width: 721px;
    height: 48px;
    box-shadow: 0 1px 3px 2px #e5e5e5;
    border-radius: 25px 25px 0 0;
    outline: none;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    left: 132px;
    top: 65px;
    padding: 4px 0 0;
    width: 721px;
    border: 1px solid #e5e5e5;
    border-top: transparent;
    border-radius: 0 0 25px 25px;
    background: white;
    box-shadow: 0 3px 3px 2px #e5e5e5;
    z-index: 1;
}

.dropdown-content::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    width: 692px;
    border-top: 1px solid #e5e5e5;
    background: red;
    z-index: 3;
}

.link {
    padding: 1px 48px;
    background-clip: padding-box;
    height: 31px;
    text-decoration: none;
    font-size: 16px;
    line-height: 31px;
    color: black;
    cursor: default;
}

.link:hover {
    background: #f0f0f0;
}

strong {
    font-size: inherit;
}

.report {
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
    color: #949494;
    align-self: flex-end;
    margin: 5px 21px 3px 0;
    letter-spacing: -0.15px;
}

.report:hover {
    text-decoration: underline;
}

.search-button {
    position: relative;
    top: 12px;
    right: 93px;
    background: transparent;
    border-style: none;
    cursor: pointer;
}

.svg-google-search {
    fill: #4285F4;
}

.nav-top-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.svg-google-apps {
    box-sizing: unset;
    border-radius: 25px;
    margin: 0 16px;
    padding: 8px;
    fill: #949494;
}

.svg-google-apps:hover {
    background: #f3f3f3;
    cursor: pointer;
}

.sign-in {
    text-decoration: none;
    outline: none;
    padding: 10px 25px;
    background: rgb(66, 133, 244);
    border-radius: 5px;
    color: white;
    max-height: 36px;
    min-width: 92.8px;
}

.sign-in:hover {
    background: rgba(66, 133, 244, 0.8);
    box-shadow: 0 1px 3px 0 rgba(66, 133, 244, 0.6);
}

/*
*
*
* NAV BOTTOM
*
*
*/

.nav-bottom {
    height: 46px;
    margin: 0 auto 0 152px;
}

.inside-bottom {
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 100%;
    margin: auto 0;
}

.bottom-link {
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    color: #707070;
    font-size: 13px;
    text-decoration: none;
    border-width: 0;
    cursor: pointer;
}

p.bottom-link {
    padding: 0 8px;
}

.svg-b {
    margin: 2px 5px 0 0;
    width: 16px;
    fill: #707070;
}

.all {
    color: #4285F4;
    margin-top: 3px;
    margin-left: 2px;
    padding-left: 10px;
    border-bottom: 3px solid #4285F4;
}

.svg-more {
    margin-right: 0px;
}

.settings {
    margin-left: 95px;
}

.settings:active {
    color: #4285F4;
}

.tools {
    outline: none;
    font-size: 13px;
    margin-left: 8px;
    border-width: 0;
    background: white;
    color: #707070;
    cursor: pointer;
}

.tools:active {
    color: #4285F4;
}

.maps:active, .maps:active .span-bottom .svg-maps {
    color: #4285F4;
    fill: #4285F4;
}

.news:active, .news:active .span-bottom .svg-news {
    color: #4285F4;
    fill: #4285F4;
}

.videos:active, .videos:active .span-bottom .svg-videos {
    color: #4285F4;
    fill: #4285F4;
}

.images:active, .images:active .span-bottom .svg-images {
    color: #4285F4;
    fill: #4285F4;
}

.more:active, .more:active .span-bottom .svg-more {
    color: #4285F4;
    fill: #4285F4;
}

/*
*
*
* MAIN
*
*
*/

main {
    margin-left: 180px;
    width: 654px;
}

.paddings {
    padding: 0 10px 0 16px;
}

.results-in-seconds {
    color: #707070;
}

.block-top {
    margin-top: 19px;
    height: 216px
}

.inside-block {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 196px;
}

#bigger-text {
    font-size: 16px;
    line-height: 22px;
}

.victor-lf-div-flex {
    display: flex;
    margin-top: 23px;
}

.victor-lf-a {
    color: #3f3f3f;
    padding: 6px 0;
}

.blck-lnk-style {
    color: rgba(11, 0, 128, 0.836);
    font-size: 20px;
    line-height: 37px;
}

.blck-lnk-style:hover {
    text-decoration: underline;
}

.dwn-arw-div {
    position: relative;
    right: 51px;
    top: 10px;
}

.dwn-arw {
    border-color: hsl(210, 4%, 23%) transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
}

.nfrmtn-lnks-div {
    align-items: center;
    display: flex;
    justify-content: end;
    margin-top: 2px;
}

.nfrmtn-lnks {
    color: #707070;
    font-size: 12px;
}

.qstn-mrk-svg {
    fill: #949494;
    height: 16px;
    margin: 2px 8px 0 0;
    width: 16px;
}

.ft-snp {
    margin: 0 24px 2px 0;
}

.ft-snp:hover {
    text-decoration: underline;
}

.xmtn-mrk-svg {
    fill: #949494;
    height: 14px;
    margin: 2px 8px 2px 0;
    width: 14px;
}

.fdbk {
    margin: 0 18px 2px 0;
}

.fdbk:hover {
    text-decoration: underline;
}

.block {
    height: 116px;
    margin-top: 30px;
    padding-right: 50px;
}

.christine-27-div-flex {
    display: flex;
}

.christine-27 {
    padding-right: 5px;
    margin-top: -1px;
}

.lnk-dscr-p {
    color: #3f3f3f;
    line-height: 22px;
    margin-top: -2px;
}

.people-also-ask {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 223px;
    justify-content: space-evenly;
    margin-top: 25px;
    padding: 0;
}

.people-also-ask-feedback {
    height: 243px;
    margin: 28px 0 27px 0;
}

.ppl-ask-div-title {
    border-bottom: 1px solid #e5e5e5;
    height: 45px;
    padding-left: 16px;
}
.ppl-ask-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    height: 20%;
    padding: 0 16px 0 16px;
}

.no-brd {
    border: none;
}

.ppl-ask-h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding-top: 10px;
}

.ppl-ask-p {
    font-size: 16px;
    margin: 0;
}

.ppl-ask-arw {
    fill: #707070;
    height: 100%;
    margin-top: 2px;
    width: 24px;
}

.ppl-ask-lnk-div {
    display: flex;
    justify-content: flex-end;
}

.ppl-ask-lnk {
    color: #707070;
    font-size: 12px;
    font-style: italic;
    margin: 5px 18px 0 0;
}

.ppl-ask-lnk:hover {
    text-decoration: underline;
}

/**/

.similar-blocks-div-flex {
    padding-top: 3px;
    display: flex;
}

.lnk-dscr-date {
    color: #707070;
}

.similar-blocks {
    height: 97.7667px;
    margin-bottom: 27px;
    padding-right: 54px;
}


.lnk-one {
    margin-left: -79px;
}

.lnk-two {
    margin-left: -213px;
}

.lnk-three {
    margin-left: -231px;
}

.lnk-four {
    margin-left: -395px;
}

.lnk-five {
    margin-left: -276px;
}

.lnk-six {
    margin-left: -364px;
}

.lnk-seven {
    margin-left: -374px;
}

.lnk-eight {
    margin-left: -391px;
}

/**/

.related-search-a {
    background: rgba(66, 133, 244, 0.5);
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 196px;
    margin-bottom: 27px;
}

.related-search-b {
    background: rgba(66, 133, 244, 0.5);
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 233px;
}

.related-search-b-feedback {
    background: rgba(66, 133, 244, 0.2);
    height: 253px;
    margin-bottom: 7px;
}

.related-to {
    background: rgba(66, 133, 244, 0.5);
    height: 150px;
    margin-bottom: 27px;
}

.google-next-page {
    background: rgba(66, 133, 244, 0.5);
    height: 56px;
    margin: 29px 0;
}

footer {
    background: #f0f0f0;
    border-top: 1px solid #e0e0e0;
    height: 82px;
}

.top-footer {
    background: rgba(66, 133, 244, 0.2);
    border-bottom: 1px solid #e5e5e5;
    height: 50%;
}

.bottom-footer {
    background: rgba(255, 192, 203, 0.5);
    height: 50%;
}

.inside-top-footer {
    background: rgba(66, 133, 244, 0.5);
    height: 100%;
    margin-left: 180px;
    width: 654px;
}

.inside-bottom-footer {
    background: rgb(255, 192, 203);
    height: 100%;
    margin-left: 180px;
    width: 654px;
}